/* get rid of the body bit - not really needed */
#rc_sb_overlay {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:99994;
    margin:0;
    padding:0;
}
#rc_sb_container {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:99995;
    background:transparent;
    text-align:center;
    margin:0;
    padding:0;
}
.rc_sb_image {
    top:0;
    left:0;
    height:100%;
    width:100%;
    max-height:100%;
    max-width:100%;
    position:absolute;
    transform:translateY(-50%);
    z-index:99997;
    background:transparent bottom no-repeat url("img/loading.gif");
    background-size: 100% 3px;
    box-shadow: 0 0 30px #000;
    border:0;
}
/* controls */
.rc_sb_button {
    background-color:#151515;
    background-repeat: no-repeat;
    background-position:center;
    z-index:99998;
    opacity:0.4;
    transition: opacity 0.28s ease;
}
.rc_sb_button:hover {
    cursor:pointer;
    opacity:0.75;
}
#rc_sb_close {
    top:10px;
    right:10px;
    width:40px;
    height:40px;
    border-radius:5px;
    background-image:url("img/close.png");
}
#rc_sb_prev, #rc_sb_next {
    top:50%;
    margin-top:-25px;
    width:40px;
    height:50px;
    position:absolute;
}
#rc_sb_prev {
    left:0;
    background-image:url("img/prev.png");
    border-radius:0 5px 5px 0;
}
#rc_sb_next {
    right:0;
    background-image:url("img/next.png");
    border-radius:5px 0 0 5px;
}
#rc_sb_toolbar {
    top:10px;
    right:10px;
    position:absolute;
    z-index:99998;
}

#rc_sb_toolbar .rc_sb_button {
    float:right;
    display:inline-block;
    margin-left:10px;
}
.rc_sb_addonbutton {
    width:40px;
    height:40px;
    border-radius:5px;
    background-image:url("img/close.png");
}